@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
}

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	color: #333;
}

body ::selection {
	color: #fff;
	background: #fdd835;
}

body::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: 4px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #51cccc;
}

/* ! NAVBAR */

.footerMenuWrapper .active .nav-icon {
	display: none;
}
.footerMenuWrapper .active .nav-icon-active {
	display: block;
}
.footerMenuWrapper .active span {
	font-weight: 700;
}

/* ! PRODUCT DETAILS */

.activeColor {
	border: none;
	overflow: hidden;
	box-shadow: 0 0 0 4px #fff, 0 0 4px 7px #51cccc;
}

@media screen and (min-width: 768px) {
	.activeColor {
		border: none;
		overflow: hidden;
		box-shadow: 0 0 0 4px #fff, 0 0 4px 7px #51cccc;
	}
}

.myThumbSlider .swiper-slide-visible {
	max-height: 100px;
	overflow: hidden;
}

.myThumbSlider .swiper-slide-thumb-active {
	border: 2px solid #51cccc;
}

.myThumbSlider {
	overflow: hidden !important;
	max-height: 100% !important;
}

.verticalSlide {
	max-height: max-content;
	border: 2px solid transparent;
}

.df-img {
	animation: truckMoveAnim 2s ease-in-out;
}

@keyframes truckMoveAnim {
	0% {
		left: 16px;
	}
	79% {
		opacity: 1;
	}
	85% {
		left: 105%;
		opacity: 0;
	}
	89% {
		left: -50px;
		opacity: 0;
	}
	100% {
		left: 16px;
		opacity: 1;
	}
}

.bounce {
	animation: 0.7s ease-in-out 0s 1 normal none running bounce;
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.5);
	}
	50% {
		transform: scale(0.7);
	}
	80% {
		transform: scale(1.1);
	}
}

.shake {
	animation: 0.7s ease-in-out 0s 1 normal none running shake;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(6px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(-6px);
	}
}

/* ! Login */

.gradientBackground {
	background-image: linear-gradient(0deg, #fff4c4, #fff);
	min-height: calc(100vh - 83px);
	position: sticky;
	top: 83px;
}

/* ! Card */

.flash:hover {
	animation: flashAnim 0.5s forwards ease-in;
}

@keyframes flashAnim {
	0% {
		opacity: 0.6;
		/* filter: brightness(2) contrast(2); */
	}
}
